.carousel-container {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  animation: scroll 30s linear infinite;
}

.carousel-item {
  flex: 0 0 auto;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  /* background-color: #f0f0f0; */
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
}

.carousel-item:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.brand-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.brand-name {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel-trackDiv2 {
  display: flex;
  animation: scrollDiv2 10s linear infinite;
}

@keyframes scrollDiv2 {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}